<footer class="row">
    <div class="footer-section col">
        <div class="label text-small">PILOTS</div>
    </div>
    <div class="footer-section col-10">
        <section class="pilots row">
            <article class="pilot-card col-3">
                <div class="row">
                    <div class="col-3">
                        <img class="pilot-image" src="./assets/characters/13.png" alt="Firstname Lastname">
                    </div>
                    <div class="col-9">
                        <div class="pilot-name">
                            <div class="text-subtitle">Firstname</div>
                            <div class="text-bold">Lastname</div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="pilot-card col-3">
                <div class="row">
                    <div class="col-3">
                        <img class="pilot-image" src="./assets/characters/13.png" alt="Firstname Lastname">
                    </div>
                    <div class="col-9">
                        <div class="pilot-name">
                            <div class="text-subtitle">Firstname</div>
                            <div class="text-bold">Lastname</div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="pilot-card col-3">
                <div class="row">
                    <div class="col-3">
                        <img class="pilot-image" src="./assets/characters/13.png" alt="Firstname Lastname">
                    </div>
                    <div class="col-9">
                        <div class="pilot-name">
                            <div class="text-subtitle">Firstname</div>
                            <div class="text-bold">Lastname</div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="pilot-card col-3">
                <div class="row">
                    <div class="col-3">
                        <img class="pilot-image" src="./assets/characters/13.png" alt="Firstname Lastname">
                    </div>
                    <div class="col-9">
                        <div class="pilot-name">
                            <div class="text-subtitle">Firstname</div>
                            <div class="text-bold">Lastname</div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</footer>