<footer>
    <section class="row">
        <aside class="col">
            <div class="pilots-label text-small">PILOTS</div>
        </aside>
        <article class="col-10">
            <div class="pilots-container row">
                <div class="col-3">
                    <div class="pilot-card row">
                        <div class="col-4 valign-middle">
                            <img class="pilot-image" src="./assets/characters/13.png" alt="Fullname">
                        </div>
                        <div class="col-8 valign-middle">
                            <div class="pilot-name">
                                <div class="text-subtitle">Firstname</div>
                                <div class="text-bold">Lastname</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</footer>