header {
    display: flex;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    button {
        left: 64px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    img {
        margin: 0;
        width: 10%;
    }
}