@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 800;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.text-title {
    font-size: 24px;
    font-weight: 700;
}

.text-subtitle {
    font-size: 20px;
    font-weight: 700;
}

.text-bold {
    font-size: 18px;
    font-weight: 700;
}

.text-small {
	font-size: 14px;
}