$gutter: 20px;
$max-columns: 12;

@mixin col($columns) {
    flex-basis: calc((100% / #{$max-columns}) * #{$columns} - #{$gutter});
    margin-left: calc($gutter / 2);
    margin-right: calc($gutter / 2);

    &:first-child{
        margin-left: 0;
    } 
    
    &:last-child{
        margin-right: 0;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .col {
        @include col(1);
    }

    @for $col from 2 through $max-columns {
        .col-#{$col} {
            @include col($col);
        }
    }
}