@import '../../../styles/variables.scss';

.sidebar-overlay {
	@include overlay();
}

.sidebar-content {
    height: 100%;
	top: 0;
	width: 300px;
	z-index: 9999;
    background-color: $color_primary;
    position: fixed;
    padding: 50px 0;
    color: $color_tertiary;
    transition: all 0.3s ease;

    &.swipe-out {
        left: -300px;
    }

    &.swipe-in {
        left: 0px;
    }

    header {
        padding: 10px 20px;
    }

    section {
        overflow-y: scroll;
        height: calc(100vh - 100px);
        padding-bottom: 20px;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            padding-top: 10px;
            
            li {
                padding: 10px 60px 10px 20px;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
    
                &:hover {
                    color: $color_secondary;
                }
    
                &.active {
                    border-left: $color_secondary 3px solid;
                    color: $color_secondary;
                }
            }
        }
    }
}