<div class="starship-name">
    <h1>Millennium Falcon</h1>
</div>

<div class="starship-image align-center valign-middle">
    <img src="./assets/starships/10.png" alt="Millenium Falcon">
</div>

<section class="container">
    <article class="counter">
        <h2>10</h2>
        <h3>/36</h3>
    </article>

    <article class="info">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12 text-title">
                        Millennium Falcon
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-subtitle">
                        YT-1300 light freighter
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-bold">
                        Light freighter
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-small">
                        Corellian Engineering Corporation
                    </div>
                </div>
            </div>
            
            <div class="col-6 align-right valign-bottom">
                <button class="btn">
                    More info
                </button>
            </div>
        </div>
    </article>
</section>