<div class="container-starship-name">
    <ul *ngFor="let name of splitedName">
        <li>
            <h1>{{ name }}</h1>
        </li>
    </ul>
</div>

<div class="container-image">
    <p class="text-small" *ngIf="!currentImageUrl">
        Loading ...
    </p>
    
    <img 
        [src]="previousImageUrl" 
        (load)="onImageLoad()" 
        [alt]="starship.name"
        [ngClass]="{'slide-out': imageLoaded}">

    <img 
        [src]="currentImageUrl" 
        (load)="onImageLoad()" 
        [alt]="starship.name" 
        [ngClass]="{'slide-in': imageLoaded}"
        [hidden]="loading">
</div>

<div class="container-info">
    <div class="section">
        <div>
            <h2>{{ starship.index }}</h2>
            <h3>/{{ total }}</h3>
        </div>
    </div>
    <div class="section">
        <div>
            <section>
                <article class="text-title">{{ starship.name }}</article>
                <article class="text-subtitle">{{ starship.model }}</article>
                <article class="text-bold">{{ starship.starship_class }}</article>
                <article class="text-small">{{ starship.manufacturer }}</article>
            </section>
        </div>
        <div>
            <button class="btn btn-outline" (click)="onToggleModal()">
                More info
            </button>
        </div>
    </div>
</div>