.container {
    margin: 0 160px;
    height: calc(100vh - 280px);
    position: relative;

    .counter {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .info{
        position: absolute;
        bottom: 20px;
        left: 0px;
        width: 100%;
        padding: 0 20px;
    }
}

.starship-name {
    left: -50px;
    opacity: 25%;
    position: absolute;
    top: 100px;
    width: 70%;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.starship-image {
    height: 700px;
    left: 50%;
    position: absolute;
    top: 30px;
    transform: translateX(-50%);
    width: 700px;

    img {
        width: 70vw;
    }
}