<div class="starship-name">
    <ul *ngFor="let name of splitedName">
        <li><h1>{{ name }}</h1></li>
    </ul>
</div>

<div class="starship-image align-center valign-middle" *ngIf="starship.id != 0">
    <img [src]="starship.imageUrl" [alt]="starship.name">
</div>

<section class="container">
    <article class="counter">
        <h2>{{ starship.index }}</h2>
        <h3>/ {{ total }}</h3>
    </article>

    <article class="info">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12 text-title">
                        {{ starship.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-subtitle">
                        {{ starship.model }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-bold">
                        {{ starship.starship_class }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-small">
                        {{ starship.manufacturer }}
                    </div>
                </div>
            </div>
            
            <div class="col-6 align-right valign-bottom">
                <button class="btn btn-outline">
                    More info
                </button>
            </div>
        </div>
    </article>
</section>